{% extends 'layout.html' %}
{% block content %}
    <div>
        <button type="submit" id="resetAll" onclick="resetAll()">Reset</button>
        <h1 id="heading">All Country Info</h1>
    </div><br>
    <label for="filter_by">Filter By: </label>
    <select name="filter_by" id="filterBy">
        <option value="null">--select a value--</option>
        <option value="region">Region</option>
        <option value="subRegion">Sub Region</option>
        <option value="population">Population</option>
        <option value="neighbours">Neighbors</option>
    </select>
    <label for="filter_value">Filter Value: </label>
    <select id="filterValue" name="filter_value">
        <option value="null">--select a value--</option>
    </select>
    <label for="sort_by">Sort By: </label>
    <select id="sortBy" name="sort_by">
        <option value="null">--select a value--</option>
        <option value="name">Name</option>
        <option value="area">Area</option>
        <option value="population">Population</option>
    </select>
    <input type="hidden" id="allTableData" value=""></input>
    {% include 'table.html' %}
    {% include 'modal.html' %}
{% endblock content %}